/* css styles */

.subtitle {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap; /* Allows items to wrap to the next line */
    gap: 5px; /* Adds space between items */
}

.subtitle span {
    /* Ensures spans don't stretch */
    flex: 0 1 auto;
}

.subtitle span::after {
  content: " · ";
}
.subtitle span:last-child::after {
  content: "";
}

/* Media query for mobile screens (adjust max-width as needed) */
@media (max-width: 600px) {
    .subtitle {
        flex-direction: column; /* Stacks the items vertically */
        align-items: center; /* Centers the stacked items */
    }
    .subtitle span {
        margin: 5px 0; /* Adds vertical space between stacked items */
    }
    /* Hide the delimiter spans when stacked vertically */
    .subtitle span::after {
      content: "";
    }
}

.navbar-title {
  font-size: .75em;
}

.subtitle {
  font-size: 1em;
}

div.quarto-about-jolla {
  margin-top: 0px !important;
}